asyncpg==0.30.0
aiofiles==24.1.0
authlib==1.5.2
bcrypt==4.3.0
sqlalchemy[asyncio]==2.0.41
fastapi[standard]==0.115.12
pytest==8.3.5
pytest-asyncio==1.0.0
aioredis[hiredis]==2.0.1
setuptools==80.8.0
slowapi==0.1.9
requests==2.32.3
prometheus_client==0.22.0